.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section-heading{
  font-size: 48px;
  margin-top: 48px;
  font-weight: lighter;
}
.section-wrapper {
  width: 90%;
}
@media screen and (max-width: 512px) {
  .section-heading{
    font-size: 32px;
  }
  .section{
    padding-bottom: 64px;
  }
}