.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section-heading{
  font-size: 48px;
  margin-top: 48px;
  font-weight: lighter;
}
.section-wrapper {
  width: 90%;
}